 @font-face {
    font-family: BebasNeue;
    src: url('../../db/fonts/BebasNeue.otf');
  }

  @font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansBlack.ttf');
    font-weight: 900;

};

@font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansBold.ttf');
    font-weight: 700;

};

@font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansMedium.ttf');
    font-weight: 500;

};

@font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansRegular.ttf');
    font-weight: 400;

};

@font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansThin.ttf');
    font-weight: 100;

};

@font-face {
    font-family: Netflix-sans;
    src: url('../../db/fonts/NetflixSansLight.ttf');
    font-weight: 300;

};


